body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif, 'Microsoft YaHei', SimHei, arial;
  margin: 0px;
}
.header {
  background-color: #000;
  color: #76daff;
  border-bottom: 1px solid #e5e5e5;
  font-size: 20px;
  padding: 6px 10px 6px 32px;
}
.header span {
  color: #76daff;
  float: right;
  font-size: 20px;
  margin-right: 20px;
  font-weight: 200;
}
.app {
  border: 1px solid #d4d4d4;
  width: 96%;
  height: auto;
  margin: 30px auto 16px auto;
  overflow: hidden;
}
.app-title {
  color: #000;
/*#76DAFF;*/
  background-color: #efefef;
/*#2d2d2d;*/
  font-size: 20px;
  padding: 6px 10px 6px 32px;
  text-align: center;
  letter-spacing: 3px;
}
.app-title span {
  float: right;
  margin-right: 10px;
}
div[ng-class="result-output"] {
  border: 1px solid #d4d4d4;
  font-family: 'Microsoft YaHei', SimHei, arial;
  float: left;
  margin-top: 10px;
  width: 62%;
}
.search-span {
  float: right;
  margin-top: 0px;
}
.search-input {
  width: 200px;
  height: 12px;
  font-size: 13px;
  float: right;
  margin-left: 20px;
  padding: 0.5em;
  border-radius: 8px;
  border: 1px solid #98bf21;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}
th {
  font-size: 1.1em;
  text-align: center;
  border: 1px solid #98bf21;
  padding-top: 5px;
  padding-bottom: 4px;
  background-color: #a7c942;
}
div[ng-class="table-body"] {
  height: 660px;
  width: auto;
  overflow: auto;
}
div[ng-class="table-body"] table {
  margin-top: 0px;
}
tr[ng-repeat] {
  width: 100%;
  border-collapse: collapse;
}
td {
  width: 90px;
  font-size: 1em;
  text-align: center;
  border: 1px solid #98bf21;
  padding: 3px 7px 2px 7px;
}
.oddrow {
  background-color: #eaf2d3;
}
.selected {
  background-color: #8fbc8f;
}
div[ng-class="pilot-zone"] {
  font-family: 'Microsoft YaHei', SimHei, arial;
  width: 32%;
  height: 750px;
  margin: 10px 20px 0px;
  float: right;
}
.div-title {
  background-color: #efefef;
  letter-spacing: 2px;
  margin-top: 0px;
  padding: 4px 4px 8px 6px;
}
div[ng-class="bulletin"] {
  width: auto;
  height: 160px;
  border: 1px solid #d4d4d4;
}
div[ng-class="bulletin"] p {
  margin-left: 10px;
}
div[ng-class="extra-data"] {
  width: auto;
  height: 200px;
  margin: 16px 0px 0px 0px;
  border: 1px solid #d4d4d4;
}
div[ng-class="extra-data"] span {
  color: #008000;
  margin-left: 10px;
}
.sum-data {
  margin: 10px 10px 10px 10px;
  padding: 6px;
}
div[ng-class="input-zone"] {
  width: auto;
  height: 368px;
  margin: 16px 0px 0px 0px;
  border: 1px solid #d4d4d4;
}
.input {
  height: 30px;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  padding: 3px 8px 3px 8px;
  border: 1px solid #98bf21;
  border-radius: 2px;
}
.btn-primary {
  margin-left: 0px;
  margin-top: 20px;
  font-size: 16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 1px solid #98bf21;
}
.custom-error {
  color: #f00;
  letter-spacing: 2px;
  margin-left: 20px;
}
form {
  margin-left: 10px;
}
.footer {
  text-align: center;
}
::-webkit-scrollbar {
  width: 8px;
}
/* Scroll groove */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
/* Scroll slider */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #eaf2d3;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #a9a9a9;
}
